@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The application is running on @Environment.MachineName</p>
    hogehoge
    <img src="https://sato-dot-net-s3-test.s3.ap-northeast-1.amazonaws.com/aws-logo.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAXBIULASRZITJ55NF%2F20210625%2Fap-northeast-1%2Fs3%2Faws4_request&X-Amz-Date=20210625T143948Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFYaDmFwLW5vcnRoZWFzdC0xIkcwRQIhAJ3sUTjhDlKqAG8MP8VI%2FyqiWj8VszAIelWCH%2BmEcFy7AiAIrNVpgq7GaCbVOAs32tNL1icU6qfNJVbWu2bkYWxwxSqoAggvEAIaDDQ4Mzc2MzM1NjgzNSIMrrj1Z%2B4BoI8DyA74KoUCD1IUgaZzrzhICtwVcCAraELFqih751TMz%2FaJzpdklRbJBSivBq31wUB2fVlgGWpwLAKErIBLKpgzMdPQuwI5vU27JClbtkQ9SmKSsWpzhzTPs7U4o4Jx9Y%2BoGCLfSzSFwaC3x2%2F8wERQihJ6pKJTctju%2FKsl73H95BjwIzY2S%2FVMxM02JBB%2BHyJeH%2FMo%2FTMlGa6sau2Q7s8fLUDoO4D1YrSIqdI3OUnkmBIGyDvZHrN0X%2BPE3RU7cbhDfgyrb1Kp3mFC2U0mpYU60NXf9Ypj%2FGCWQONhvgtI2Q0gAayUQb9SX8hBtDKnc1dLEXWwT91UzOlSRm0%2BwCHjUZ2qk1hfg92CVpDHMLDK14YGOp0Bkhs9TWEACtd1SvtlOzD43kqI3ai3QVgaSvGFC3n7POsApOAbHwpfVGNM5IhjrCW%2Bu2YISimo%2FMWF6DJe6%2B8dwRZQYGVYmam2EJ8Dxdy64FA%2FcSlt9uG0NDoyfj7HQE6wGaJvUuxY2GXqiHodhSDDqFKxJVa2FwhHia64s2BZSeE3U6OXIbRO9v9SGrvBK44pY%2Fwm7O1ikAXH2EfCkA%3D%3D&X-Amz-Signature=e4253a882eaf790f24b5fe1977c741c4a3b50c31acd04e5c8d7f6a0f35379d1c" alt="awsのロゴ" title="awsのロゴ" style="width:50px;height:50px;" />
</div>
